* {
  margin: 0;
}

body {
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0.5rem 1rem;
}

a,
a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

table,
th,
td {
  border: 2px solid rgb(153, 152, 152);
  border-collapse: collapse;
}

th {
  font-weight: 600;
  font-size: 1.2rem;
  padding: 1px 5px;
}

td {
  padding: 2px 5px;
}

.block {
  display: block;
}

.navbar-container {
  display: flex;
  padding: 0 2rem;
  align-items: center;
  height: 4rem;
  background-color: #084cdf;
}

.app-title,
.app-title:hover {
  color: white;
  font-size: 2rem;
}

.secondary-btn {
  border-color: #084cdf;
  background-color: white;
  color: #084cdf;
}

.file-detail-cont {
  padding: 2rem;
}

.detail-header {
  text-align: center;
  font-size: 2rem;
}

.search-container input {
  height: 2.5rem;
  padding: 1px 3px;
}

.highlight {
  background-color: yellow;
}
